
<footer class="pageFooter">
<div  class="footer_b_links">
	<div class="container ">
		<div class="footer_links">
		
			<div class="col-2foot floatLeft">
				<div class="f_links_cont">
					<h6>Company</h6>
					<ul class="f_nav fix_ul">
						<li><a href="#" title="">Who We Are</a></li>
						<li><a href="#" title="">Meet The Team</a></li>
					</ul>
				</div>
			</div>
			
			
			<div class="col-2foot floatLeft">
				<div class="f_links_cont">
					<h6>About Tokeet</h6>
					<ul class="f_nav fix_ul">
						<li><a href="#" title="">Features</a></li>
						<li><a href="#" title="">Frequently Asked Questions</a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-2foot floatLeft">
				<div class="f_links_cont">
					<h6>Legal & Policies</h6>
					<ul class="f_nav fix_ul">
						<li><a href="#" title="">Privacy Policy</a></li>
						<li><a href="#" title="">Terms and Conditions</a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-2foot floatLeft">
				<div class="f_links_cont">
					<h6>Press & News</h6>
					<ul class="f_nav fix_ul">
						<li><a href="#" title="">Press Release</a></li>
						<li><a href="#" title="">Country Availability</a></li>
					</ul>
				</div>
			</div>

			<div class="col-2foot floatLeft relative">
				<div class="f_links_cont">
					<h6>Contact Us</h6>
					<ul class="f_nav fix_ul">
						<li><a href="#" title="">Head Office</a></li>
						<li><a href="#" title="">Customer Support</a></li>
					</ul>
					
					<img src="images/leaf_transparent.png" alt="Tokeet" title="Tokeet" class="footer_img" />
				</div>
			</div>
			
			
			<div class="clearFloat"></div>
		</div>
	</div>
</div>
<div  class="footer_bb">
	<div class="container">
	
		<p style="display:inline-block"><img src="images/leaf_transparent_footer.png" alt="Tokeet" title="Tokeet" class="footer_img_copy" /> <span class="footer_tokeet">Tokeet</span> &copy; Copyright  2015 - 2015  All Rights Reserved. All trademarks are the property of their rightful owners.</p> 
		<p>Certain icons are licenced under the Creative Commons (Attribution 3.0 Unported), Font Awesome and other font under the MIT Licence</p>
    </div>
</div>
</footer>
