<header class="main_header bg_green index_header">
    <div class="container">
        <a href="/" class="col-2 floatLeft" id="logo" >
            <img src="images/tokeet_logo_site_nego.png" alt="Tokeet" title="Tokeet"  class="floatLeft"/> 
            <h1 class="f_white no_select">Tokeet</h1>
            <div class="clearFloat"></div>
        </a>
        <nav class="col-10 floatRight">
            <ul class="nav_menu nav_style fix_ul">
                <li class="floatRight">
                    <button type="button" pop-box="{templateUrl: 'views/login/login.html',controller: 'LoginCtrl'}" class="prm_btn bg_white menu_btn f_grey settings_u">Login</button>
                </li>
                <li class="floatRight">
                    <a href="" title="Guests" pop-box="{templateUrl: 'views/login/signup.html',controller: ''}" class="f_grey nav_menu_item popBox" data-ajax="signup.php">Sign Up</a>
                </li>
                <li class="floatRight"><a href="" title="Bookings" class="f_grey nav_menu_item" >FAQ</a></li>
                <li class="floatRight"><a href="" title="Inquiries" class="f_grey nav_menu_item" >Reviews</a></li>
                <li class="floatRight"><a href="" title="Calendar" class="f_grey nav_menu_item" >Features</a></li>
                <div class="clearFloat"></div>
            </ul>
            <div class="clearFloat"></div>
        </nav>
        <div class="clearFloat"></div>
    </div>
</header>