<header class="main_header">
	<div class="container">
		<a href="/" class="col-2 floatLeft" id="logo" >
			<img src="http://cdn.tokeet.com/images/tokeet_logo.png" alt="Tokeet" title="Tokeet"  class="floatLeft"/> 
			<h1 class="f_grey no_select">Tokeet</h1>
			<div class="clearFloat"></div>
		</a>
		
		<nav class="col-10 floatLeft">
			<ul class=" floatLeft nav_menu nav_style fix_ul">
				<li class="floatLeft"><a href="/calendar" title="Calendar" class="f_grey nav_menu_item" >Calendar</a></li>
				<li class="floatLeft"><a href="/inquiries" title="Inquiries" class="f_grey nav_menu_item" >Inquiries</a></li>
				<li class="floatLeft"><a href="/bookings" title="Bookings" class="f_grey nav_menu_item" >Bookings</a></li>
				<li class="floatLeft"><a href="/guests" title="Guests" class="f_grey nav_menu_item" >Guests</a></li>
				<li class="floatLeft"><a href="/billing" title="Billing" class="f_grey nav_menu_item" >Billing</a></li>
				<div class="clearFloat"></div>
			</ul>		
			<ul class="floatRight user_menu nav_style fix_ul">
                <li class="floatRight"><a href="/" title="Logout" class="f_grey nav_menu_item"><i class="fa fa-sign-out fa-2"></i></a></li>
				<li class="floatRight"  ng-controller="SettingsCtrl"><a data-animation="am-flip-x" bs-dropdown="dropdown" aria-haspopup="true" aria-expanded="false" title="Account" class="f_green nav_menu_item nav_settings"><i class="fa fa-cog"></i>&nbsp;Settings</a></li>
				<!--<li class="floatRight"><a href="#" title="Account" class="f_green nav_menu_item "><i class="fa fa-user"></i>&nbsp;Profile</a></li>-->
				<li class="floatRight"><a title="Alerts" class="f_green nav_menu_item "><i class="fa fa-bell-o"></i>&nbsp;Alerts</a></li>				
				<div class="clearFloat"></div>
			</ul>
			<div class="clearFloat"></div>
		</nav>

	</div>
</header>
