<div class="btm_shad wlcm_wrapper">
    <div class="index_container">

        <div class="">
            <div class="col-6 floatLeft">
                <h2 class="welcome_title">A New Way to Manage<br/> Your Vacation Rental</h2>
                <div class="welcome_txt">Tokeet makes managing your vacation rental simple<br/> and easy by 
                    providing all the features you need in one<br/> powerful and efficient
                    application. Take the chore out<br/> of managing your inquiries, bookings,
                    and calendar<br/> and have Tokeet do all the hard work for you.
                    <br/><br/>
                    Tokeet was built by villa owners, for villa owners.</div>
            </div>
            <div class="col-6 floatLeft">
                <div class="anim_wrapper">
                    <img src="images/index_animation.png" alt="" title="" class="img-responsive" /> 
                </div>
            </div>
            <div class="clearFloat"></div>

        </div>	
    </div>	
</div>
<div class="index_container">
    <div class="feat_wrapper">
        <img src="images/tokeet_green.png" alt="" title="" class="tokeet_ico_green" />
        <h3>Vacation Rental Management</h3>
        <p>Simpe, Efficient & Powerfull</p>		
    </div>
</div>