<div class="popWindow edit_inquiry">
    <div class="popUp_header bg_blue relative">
        <h3 class="pop_title">Create Inquiry</h3><a href="#" ng-click="closeModal()"><i class="fa fa-times close_pop"></i></a>
    </div>
    <div class="padding30">
        <form validate-form name="add_inqury_form">
            <div class="col-6 floatLeft">
                <h3 class="sec_sub_title in_form_title f_green">Charges Details</h3>
                <div class="f_item dropdown">
                    <ui-select ng-model="inqury.rental"
                               theme="select2"
                               search-enabled="false"
                               ng-disabled="false"
                               required
                               reset-search-input="false"
                               style="width: 300px;">
                        <ui-select-match placeholder="Rental">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="rental in rentals track by $index">
                            <div ng-bind-html="rental.name"></div>
                        </ui-select-choices>
                    </ui-select>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item">                    
                    <input type="number" name="charge" ng-model="inqury.charge" id="" placeholder="Rental Charge" class="fill_form" required>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item">                    
                    <input type="number" name="discount" ng-model="inqury.discount" placeholder="Discounts" class="fill_form" required>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item">                    
                    <input type="number" name="tax" ng-model="inqury.tax" placeholder="Taxes & Fees" class="fill_form" required>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item">
                    <span>total:{{inqury.charge-inqury.discount-inqury.tax}}</span>
                    <div class="clearFloat"></div>
                </div>
            </div>	
            <div class="col-6 floatRight align_l">
                <h3 class="sec_sub_title in_form_title f_green">Inquiry Details</h3>
                <div class="f_item">
                    <input type="text" name="name" ng-model="inqury.guest_name" placeholder="Name" class="fill_form" required>	
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item">	                    
                    <input type="emaill" name="email" ng-model="inqury.guest_email" id="" placeholder="Email" class="fill_form" required>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item">                    
                    <input type="text" name="phone" ng-model="inqury.guest_phone" placeholder="Phone" class="fill_form" required>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item dropdown">                    
                    <ui-select ng-model="inqury.source"
                               theme="select2"
                               search-enabled="false"
                               ng-disabled="false"
                               reset-search-input="false"
                               required
                               style="width: 300px;">
                        <ui-select-match placeholder="Source">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="row in source track by $index">
                            <div ng-bind-html="row"></div>
                        </ui-select-choices>
                    </ui-select>
                    <div class="clearFloat"></div>
                </div>

                <div class="f_item dropdown">                    
                     <ui-select ng-model="inqury.guest"
                               theme="select2"
                               search-enabled="true"
                               ng-disabled="false"
                               reset-search-input="false"
                               required
                               style="width: 300px;">
                        <ui-select-match placeholder="Guest">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="guest in guests | filter: $select.search track by $index">
                            <div ng-bind-html="guest.name"></div>
                        </ui-select-choices>
                    </ui-select>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item dropdown">
                    <input type="text" class="fill_form" name="startdate" pikaday="inqury.startdate"  placeholder="End Date" required>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item dropdown">
                    <input type="text" class="fill_form" name="enddate" pikaday="inqury.enddate"  placeholder="End Date" required>
                    <div class="clearFloat"></div>
                </div>
                <div class="f_item">
                    <span>Duration: {{inqury.enddate|dateDiff:inqury.startdate}}</span>
                    <div class="clearFloat"></div>
                </div>
            </div>
            <div class="clearFloat"></div>			
            <div class="btn_area">
                <button type="" name="" class="prm_btn bg_grey floatRight btn_small" id="" ng-click="closeModal()">cancel</button>
                <button type="" name="" class="prm_btn bg_blue floatRight btn_small" id="" ng-click="createInquery()" ng-class="{'disabled':add_inqury_form.$invalid||process}">
                <span ng-show="process"><i class="fa fa-spinner fa-spin"></i></span>
                add
                </button>
                <div class="clearFloat"></div>
            </div>
        </form>
    </div>
</div>