<div class="popWindow">
    <div class="popUp_header bg_blue relative"> 
        <h3 class="pop_title">Edit Guest Details</h3>
    </div>
    <form validate-form name="edit_guest_form" class="horizenal_form">
        <div class="padding15">
            <div class="f_item">
                <label for="v_name" class="">Guest Name:</label>
                <input type="text" name="name" id="g_name" placeholder="Rental name" class="fill_form" ng-model="guest.name" required/>
                <span ng-show="edit_guest_form.name.$invalid && edit_guest_form.name.$dirty" class="help-block has-error">
                    Please input guest name
                </span>
                <div class="clearFloat"></div>
            </div>
            <div class="f_item">
                <label for="v_email" class="">Email:</label>
                <input type="email" name="email" id="g_email"  placeholder="Email" class="fill_form " ng-model="guest.email" required/>
                <span ng-show="edit_guest_form.email.$invalid && edit_guest_form.email.$dirty" class="help-block has-error">
                    Please input valid email address
                </span>
                <div class="clearFloat"></div>
            </div>
            <div class="f_item">
                <label for="v_phone" class="">Phone:</label>
                <input type="text" name="phone" id="g_phone"  placeholder="Phone" class="fill_form " ng-model="guest.phone">
                <div class="clearFloat"></div>
            </div>
            <div class="f_item">
                <label for="g_city" class="">Country:</label>
                <input type="text" name="city" id="g_city"  class="fill_form " ng-model=" guest.address.country" />
                <div class="clearFloat"></div>
            </div>		
            <div class="f_item">
                <label for="g_address" class="">Address:</label>				
                <input type="text" name="address" id="g_address" class="fill_form " ng-model="guest.address.address">
                <div class="clearFloat"></div>
            </div>
            <div class="f_item">
                <label for="g_notes" class="">Guest Notes:</label>
                <textarea rows="5" cols="50" class="fill_form " ng-model="guest.notes" placeholder="Guest Notes" name="notes" id="g_notes"></textarea>
                <div class="clearFloat"></div>
            </div>
            <button type="" name="" class="prm_btn bg_grey floatRight btn_small inform_sp" id="" ng-click="closeModal()">cancel</button>
            <button type="" name="" class="prm_btn bg_blue floatRight btn_small" id="" ng-click="saveGuest()" ng-class="{'disabled':edit_guest_form.$invalid||process}">
                <span ng-show="process"><i class="fa fa-spinner fa-spin"></i></span>
                Save
            </button>
            <div class="clearFloat"></div>	
        </div>	 		
    </form>

</div>