<div class="popWindow" >
	<div class="popUp_header bg_blue relative">
		<h3 class="pop_title">New User Sign Up</h3>
	</div>
	<div class="padding30 form_login">
		<div class="f_item">
			<p><label for="" class="">Email Address</label></p>
			<input type="text" name="" id="" placeholder="sample@gmail.com" class="fill_form floatLeft" value="" />
		</div>
		<button type="" name="" class="prm_btn bg_blue  btn_small" id=""><a href="bookings.php" title="Temporary Link">SIGN UP</a></button>
		<button type="" name="" class="prm_btn bg_grey  btn_small" id="">CANCEL</button>
	</div>
</div>